html {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #111;
    color: #90ee90;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 20px;
    background-color: #111;
    color: #90ee90;
}

a {
    text-decoration: none;
    color: #90ee90;
    margin: 10px;
}

.notification {
   border: #90ee90 1px solid;
   padding: 1rem;
    margin-bottom: 1rem;
    width: fit-content;
}

.content {
   margin-left: 1rem;
   margin-right: 1rem;
   border: #90ee90 1px solid;
   padding: 1rem;
}

h2 {
    text-align: left;
    margin-bottom: 30px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
}

.create-blog {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
    background-color: #111;
    box-shadow: 2px 3px 3ch 2px rgba(0, 100, 0, 0.2);
}

.blogcard-content {
    display: flex;
    flex-direction: wrap;
    background-color: #111;
}

.blogcard {
    margin: 4px;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 18rem;
    padding: 20px;
    border-radius: 5px;
    background-color: #111;
    box-shadow: 2px 3px 3ch 2px rgba(0, 100, 0, 0.2);
}

input {
    width: 10rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 3px 1px 1px rgba(0, 100, 0, 0.2);
    background-color: #222;
    color: #90ee90;
}

input:focus {
    outline: none;
}

.like-button-red{
    padding: 12px;
    margin-right: 3px;
    cursor: pointer;
    border: none;
    background-color: #d00404;
    color: #90ee90;
    border-radius: 5px;
}

.like-button-green{
    padding: 12px;
    margin-right: 3px;
    cursor: pointer;
    border: none;
    background-color: #0ed107;
    color: #90ee90;
    border-radius: 5px;
}

.l-button {
    display: block;
    margin-top: 10px;
    border: 1px solid #90ee90;
    width: 10rem;
    padding: 10px;
    border-radius: 5px;
    background-color: #000;
    color: #90ee90;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.l-button:hover {
    background-color: #181818;
}

.user-data-table {
    border-collapse: collapse;
    width: 80%;
    color: #90ee90;
}
  
.user-data-table th, .user-data-table td {
    border: 1px solid #90ee90;
    padding: 8px;
}
  
.reading {
    padding-left: 10px;
}
  
.light-row {
    background-color: #222;
}
  
.dark-row {
    background-color: #333;
}

@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        padding: 20px;
    }

    input, .login-button {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .main {
        flex-direction: column;
        padding: 10px;
    }

    input, .login-button {
        width: 100%;
    }
}