html {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #111;
    color: #90ee90;
}


nav {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 20px;
    background-color: #111;
    color: #90ee90;
}

.header-link {
    font-size: 1.2rem;
    font-weight: 800;
    color: #90ee90;
    text-decoration: none;
    margin: 0 10px;
}
.header-link:hover {
    color: #07e05e;
}

.background-image-main {
    background-image: url('../kuvat/matrix-1.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust as needed */
    width: 100%; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.background-image-main div {
  font-size: 3rem;
  background: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 2px 3px 3ch 2px rgba(0, 100, 0, 0.2);
    
}

/* BLOGS PAGE */
.background-image {
    background-image: url('../kuvat/matrix-2.jpeg');
    background-size: cover;
    background-position: center;
    height: 100%; /* Adjust as needed */
    width: 100%; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
   
  
}

.background-image div {
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.45);
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 2px 3px 3ch 2px rgba(0, 100, 0, 0.2);
    margin-top: 0.4rem;
    
}

/* LOGIN PAGE */
.background-image-login {
    background-image: url('../kuvat/matrix-4.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust as needed */
    width: 100%; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    

}

.background-image-login div {
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.45);
  padding: 3rem;
  border-radius: 15px;
  margin: 0.9rem;
  box-shadow: 2px 3px 3ch 2px rgba(0, 100, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loginbutton {
    padding: 12px;
    cursor: pointer;
    border: none;
    background-color: #07e05e;
    color: #222;
    border-radius: 5px;
}

.loginbutton:hover {
    background-color: #222;
    color: #90ee90;
}

/*CREATION USER or BLOG*/
.creation-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../kuvat/matrix-5.jpeg') no-repeat center center fixed; 
    background-size: cover;
  }
  .creation-form div {
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.45);
    padding: 3rem;
    border-radius: 15px;
    margin: 0.9rem;
    box-shadow: 2px 3px 3ch 2px rgba(0, 100, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }



.notification {
   border: #90ee90 1px solid;
   padding: 0.3rem;
    margin-bottom: 0.4rem;
    width: fit-content;
}

.content {
   margin-left: 1rem;
   margin-right: 1rem;
   border: #90ee90 1px solid;
   padding: 1rem;

}

h2 {
    text-align: left;
    margin-bottom: 30px;
}

h3 {
    text-align: left;
    margin-bottom: 30px;
    color: #a80089;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
}

.create-blog {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
    background-color: #111;
    box-shadow: 2px 3px 3ch 2px rgba(0, 100, 0, 0.2);
}

.blogcard-content {
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr;
    background-color: #111;
}

.blogcard {
    margin: 4px;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 22rem;
    padding: 20px;
    border-radius: 5px;
    background-color: #111;
    box-shadow: 2px 3px 3ch 2px rgba(0, 100, 0, 0.2);
}

.cpasw {
    background-color: black;
    border-radius: 0;
    border: 0;
    margin-top: 0.4rem;
    border: 1px solid #90ee90;
}

input {
    width: 10rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 3px 1px 1px rgba(0, 100, 0, 0.2);
    background-color: #222;
    color: #90ee90;
}

input:focus {
    outline: none;
}

.like-button-red{
    padding: 12px;
    margin-right: 3px;
    cursor: pointer;
    border: none;
    background-color: #d00404;
    color: #90ee90;
    border-radius: 5px;
}

.like-button-green{
    padding: 12px;
    margin-right: 3px;
    cursor: pointer;
    border: none;
    background-color: #0ed107;
    color: #90ee90;
    border-radius: 5px;
}

.l-button {
    display: block;
    
    margin-top: 10px;
    border: 1px solid #90ee90;
    width: 10rem;
    padding: 10px;
    border-radius: 5px;
    background-color: #000;
    color: #90ee90;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.l-button:hover {
    background-color: #181818;
}

.logout-button {
    color: #222;
    background-color: #90ee90;
    margin-left:    10px ;
    padding: 8px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.logout-button:hover {
    background-color: #222;
    color: #90ee90;
}

.user-data-table {
    width: 100%;
    color: #90ee90;
    text-align: left;
}
  
.user-data-table th, .user-data-table td {
    border-bottom: 1px dashed #4a804a;
    padding: 8px;
}
  
.reading {
    padding-left: 10px;
}
  
.light-row {
    background-color: #222;
}
  
.dark-row {
    background-color: #333;
}

/* Mobile CSS rules */ 
@media only screen and (max-width: 425px) { 

    body {
        background-color: black;
        font-size: larger;
        font-weight: 700;
    }
   

}

/* Tablet CSS rules */ 
@media only screen and (min-width: 426px) { 

    table {
        width: auto;
    }

    body {
        background-color: black;
        font-size: larger;
    }

    
}




/* Desktop CSS rules */ 
@media only screen and (min-width: 769px) { body { background-color: black; } }